<div class="table-container">
  <table class="custom-table table table-bordered table-hover text-center">
    <thead class="table-primary">
      <tr>
        <th>책 이름</th>
        <th>저자</th>
        <th>판매자</th>
        <th>가격</th>
        <th>대분류</th>
        <th>소분류</th>
        <th colspan="2">메뉴</th>
      </tr>
    </thead>

    <tbody>

      <% for (let i = 0; i < list.length; i++) { %>
        <tr>
          <td><%= list[i].bookname %></td>
          <td><%= list[i].author %></td>
          <td><%= list[i].seller %></td>
          <td><%= list[i].price %></td>
          <td><%= list[i].bigname %></td>
          <td><%= list[i].minname %></td>

          
          <td><a href="/admin/updatebook/<%=list[i].bnum%>" >수정</a></td>
          <td><a href="/admin/bookdelete_process/<%=list[i].bnum%>"  onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a></td>
        </tr>
      <% } %>
    </tbody>
  </table>

</div>
